.counts {
  margin: 12px 0;
  color: var(--text-secondary);
}

.input_container {
  margin-bottom: 40px;
  padding: 0 2rem;
}

.description {
  margin-bottom: 1.1rem;
  color: #39a1b6;
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
}

.logo {
  font-size: 1.4rem;
  width: 100%;
  display: inline-block;
}

@media screen and (max-width: 720px) {
  .input_container {
    padding: 0 1rem !important;
  }
}
