.heading {
  display: flex;
  padding: 1.5rem;
}

.heading button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
}

.heading_flag {
  flex: 1;
  margin-right: 0.7rem;
}

.heading_name,
.heading_population,
.heading_area,
.heading_gini {
  flex: 4;
  color: var(--text-secondary);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading_name {
  text-align: left;
  justify-content: flex-start;
}

.heading_arrow {
  color: var(--main-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

.row {
  display: flex;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background-color: var(--bg-light);
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--text-colour);
  box-shadow: var(--box-shadow);
  font-weight: 500;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.row:hover {
  transform: translateY(-0.25rem);
}

.name {
  flex: 4;
  text-align: left;
}

.population {
  flex: 4;
}

.area {
  flex: 4;
}

.gini {
  flex: 4;
}

.flag {
  flex: 1;
  margin-right: 0.8rem;
  margin-top: 0.2rem;
}

.flag img {
  width: 100%;
  display: inline-block;
  border-radius: 3px;
}

@media screen and (max-width: 720px) {
  .area,
  .heading_area {
    display: none;
  }

  .gini,
  .heading_gini {
    display: none;
  }

  .flag,
  .heading_flag {
    display: none;
  }
}
